#toast {
  $success-color: #47d764;
  $error-color: #d75d47;
  $warning-color: #f6c23e;

  .notification {
    box-sizing: border-box;
    background-color: rgb(251, 251, 251);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    top: 30px;
    right: 30px;
    position: fixed;

    @keyframes SlideInLeft {
      from {
        opacity: 0;
        transform: translateX(calc(100% + 30px));
      }
      to {
        transform: translateX(0);
      }
    }
    @keyframes fadeOut {
      to {
        opacity: 0;
      }
    }
    &__icon {
      svg {
        height: 80px;
        width: 50px;
      }
    }

    &__body {
      padding: 10px;
      line-height: 20px;
      h3 {
        font-size: 30px;
        font-weight: 550;
      }
      p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 500;
        text-overflow: ellipsis;
      }
    }
    &__exit {
      padding: 0px;
      svg {
        width: 20px;
        height: 20px;

        color: #1987544d;
        margin-top: 8px;
        float: right;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
  .notification--success {
    border-right: 10px solid $success-color;
    .notification__exit {
      svg:hover {
        color: $success-color;
      }
    }
    .notification__body {
      h3 {
        color: $success-color;
      }
      p {
        font-size: 15px;
      }
    }
    .notification__icon {
      svg {
        color: $success-color;
      }
    }
  }
  .notification--error {
    border-right: 10px solid $error-color;
    .notification__exit {
      svg:hover {
        color: $error-color;
      }
    }
    .notification__body {
      h3 {
        color: $error-color;
      }
      p {
        font-size: 15px;
      }
    }
    .notification__icon {
      svg {
        color: $error-color;
      }
    }
  }
  .notification--warning {
    border-right: 10px solid $warning-color;
    .notification__exit {
      svg:hover {
        color: $warning-color;
      }
    }
    .notification__body {
      h3 {
        color: $warning-color;
      }
      p {
        font-size: 15px;
      }
    }
    .notification__icon {
      svg {
        color: $warning-color;
      }
    }
  }
}
