.td-listing{
    &__functions{
        padding: 28px 122px;
        &__add:hover{
            background-color: rgb(54,55,64) !important;
            font-weight: bold;
        }
        &__add{
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            outline:none;
            padding:9px 20px;
            background: #3751FF;
            border: none;
            box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 30px;
            color: #fff;
            margin-right: 52px;
           
        }
        &__sort{
            cursor: pointer;
            svg{
                margin-right: 9px;
            }
            :hover{
                color: green;
            }
        }
    }
    &__container{
        padding:0 14px;
        table{
            thead th{
                color:#9FA2B4;
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.2px;
            }
            tbody tr{
                text-align: center;
            }
        }
        .table>:not(:last-child)>:last-child>* {
            border-bottom-color: inherit;
        }
    }
}
.td-listing-disabled{
    opacity: 0.2;
}