.td-form-add{

    background: #FFFFFF;
    border-radius: 15px;
    padding-bottom: 43px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__title{
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.4px;
        color: #000000;
        padding:32px 136px;
        position: relative;
        svg{
            position: absolute;
            right: 23px;
            top:20px;
            cursor: pointer;
        }
    }
    &__body{
        padding: 0 20px;
        &__form-input{
            width: 245px;
            input,select{
                border-radius: 10px;
            }
        }
    }
    &__control{
        padding: 0px 10px;
        &__btn-back{
            background: #F3F2F2;
            border: 1px solid #C8C8C8;
            box-sizing: border-box;
            border-radius: 8px;
            padding:10px 20px;
            color: #3751FF;
        }
        &__btn-save{
            background: #3751FF;
            box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
            border-radius: 8px;
            color:#ffff;
            padding:10px 50px;
        }
    }
}